@import "../valo/valo.scss";

.root-layout.navigation-template-dark {
	$root-background-color: #000;
	$template-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 	
	
	$header-bar-background: #323C3C;
	$header-bar-font-size: 16px;
	$header-bar-text-color: #C8D2D2;
	
	$search-field-border: 0;
	$search-field-bevel: 0;
	$search-field-prompt-color: #959595;
	$search-field-border-color: #586262;
	$username-label-color: #fff;
	
	$side-bar-background: $header-bar-background;
	$menu-button-selected-text-color: #C8D2D2;
	$menu-button-selected-background: $root-background-color;
	$menu-button-text-color: $menu-button-selected-text-color;
	$menu-button-icon-color: $menu-button-selected-text-color;
	
	background-color: $root-background-color;
	
	.header-bar .v-nativebutton,
	.side-bar .v-nativebutton {
		background: none;
		border: none;
		
		&:hover{
			cursor: pointer;
		}
	}

	.scroll-panel {
		background-color: $root-background-color;
        border: none;
        border-radius: 0;		
	}
				
	.header-bar {
		background-color: $header-bar-background;
		padding: 0px 15px 0 15px;
		vertical-align: middle;
		height: 65px;
		
		> * {
			color: $header-bar-text-color;
			float: right;
			padding: 0;
			line-height: 20px;
			margin-left: 15px;
			font-size: $header-bar-font-size;
			font-family: $template-font-family;
			
			/** Vertically center everything **/ 
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		
		> .search-field {
			background: none;
			color: $search-field-prompt-color;
			padding-left: 5px;
			box-shadow: none;
			border: $search-field-border;
			border-bottom: solid 2px $search-field-border-color;
			border-radius: 0;
			font-style: italic;
		}
		
		.user-name-label {
		    color: $username-label-color;
		}
	}
		
	.side-bar {
		background-color: $side-bar-background;
		width: 100px;
		
		> .menu-button {
			position: relative;
			color: $menu-button-text-color;
			height: 90px;
			
			&.selected{
				background-color: $menu-button-selected-background; 
			
				.v-nativebutton-caption {
					color: $menu-button-selected-text-color;
				}
		
			}
			
			.v-nativebutton-caption {
				font-family: $template-font-family;				
				font-size: .7em;
				text-transform: uppercase;
				position: absolute;
				bottom: 8px;
				text-align: center;				
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
			}
			
			.v-icon {
				color: $menu-button-icon-color;
				position: absolute;
				font-size: 35px;
				margin-left: auto;
				margin-right: auto;
				top: 10px;
				left: 0;
				right: 0;
			}
		}
	}	
   
	.dashboard-layout {
		padding: 40px 60px 0 60px;
		color: $header-bar-text-color;
		
		.caption {
			position: relative;
			
			.caption-label {
				position: relative;
				bottom: 0;
				left: 0;
				color: $search-field-prompt-color;
				font-family: $template-font-family;				
				font-size: 150%;
				text-transform: uppercase;
				border: none;
				border-bottom: 3px solid $search-field-prompt-color;
				border-width: 100%;
			}
		
			.caption-motto-label {
				position: relative;
				bottom: -5px;
				left: 10px;
				color: $search-field-prompt-color;
				font-family: $template-font-family;				
				font-style: italic;
			}
		}
		
		.area {
			padding: 20px 0 0 0;
		
			.radio-area {
				background-color: white;
			}
		
			.playlist-area {
				background-color: green;
			}
		}
	}
    	
	&[width-range~="321px-768px"] {
		.dashboard-layout{
			padding: 10px;
		}
		
		.dashboard-item {
			width: 100% !important;
			min-width: 321px;
			margin: 0;
		}
	
		.side-bar {
			width: 60px;
			
			> .menu-button{
			
				height: 50px;
			
				> .v-nativebutton-caption{
					visibility: hidden;
				}
				
				> .v-icon{
					top: 0;
				}
			}
		}
		
		.header-bar {
			height: 45px;
			padding: 2px;	
		}
	}
}

.navigation-template-dark[width-range~="321px-768px"] {
	visibility: visible;
}